
<div class="col-md-6">
    <h2 class="text-center">Add server</h2>
    <form>
        <div class="form-group">
            <label for="name">Server name:</label>
            <input [(ngModel)]="server.name" placeholder="Server name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="address">Server address:</label>
            <input [(ngModel)]="server.address" placeholder="Server address" name="address" class="form-control" id="address">
        </div>

        <div class="form-group">
            <label for="environment">Server environment:</label>
            <input [(ngModel)]="server.environment" placeholder="Server environment" name="environment" class="form-control" id="environment">
        </div>

        <button class="btn btn-success" (click)="addServer()">Create</button>
    </form>
</div>
<simple-notifications></simple-notifications>