<div class="s-server-dash-pg">

    <div class="chart-box">
        <h4> Servers by availability </h4>
        <ngx-charts-advanced-pie-chart
                style="position:relative"
                [view]="view"
                [scheme]="colorScheme"
                [results]="serversByAvailabilityData"
        >
        </ngx-charts-advanced-pie-chart>
    </div>

    <div class="chart-box">
        <h4> Servers by environment </h4>
        <ngx-charts-advanced-pie-chart
                style="position:relative"
                [view]="view"
                [scheme]="colorScheme"
                [results]="serversByEnvironmentData"
        >
        </ngx-charts-advanced-pie-chart>
    </div>

</div>
