


<div class="top">

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filters
                </mat-panel-title>
                <!--<mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>-->
            </mat-expansion-panel-header>
            <mat-card >
                <form [formGroup]="graphiteForm" novalidate>
                    <!--<mat-card-title>Reactive form</mat-card-title>-->
                    <mat-card-content>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >

                            <mat-form-field fxFlex="30%">
                                <input matInput [matDatepicker]="fromDate" (dateChange)="filter()" placeholder="From date" [max]="backDate" formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field fxFlex="30%">
                                <input matInput [matDatepicker]="toDate" (dateChange)="filter()" placeholder="To date" [max]="maxDate"  formControlName="toDate" (change)="filter()">
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center" layout-margin>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasAvailability">Calypso availability data</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasCalcServerTradeProcessingData">Calc server trade processing</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasLoadCalcServerSchedTaskData">Load calc server scheduled task</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasConcurrentUsersData">Concurrent users data</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasTrioptimaRun">Trioptima run</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasTradeReportMonitorData">Trade report monitor data</mat-checkbox>
                            <mat-checkbox class="checkbox-margin" (change)="filter()" formControlName="hasTransferReportMonitorData">Transfer report monitor data</mat-checkbox>
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>


        </mat-expansion-panel>
    </mat-accordion>

        <!--<form *ngIf="isOpen">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dateRange">From / to date</label>
                    <input class="form-control" id="dateRange" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="graphiteFilter.dateRange"
                           name="dateRange" [maxDate]="maxDate" (onHidden)="filter()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="hasAvailability">Calypso availability data</label>
                    <input type="checkbox" name="hasAvailability" id="hasAvailability" [(ngModel)]="graphiteFilter.hasAvailability" data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasCalcServerTradeProcessingData">Calc server trade processing</label>
                    <input type="checkbox" name="hasCalcServerTradeProcessingData" id="hasCalcServerTradeProcessingData" [(ngModel)]="graphiteFilter.hasCalcServerTradeProcessingData"  data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasLoadCalcServerSchedTaskData">Load calc server scheduled task</label>
                    <input type="checkbox" name="hasLoadCalcServerSchedTaskData" id="hasLoadCalcServerSchedTaskData" [(ngModel)]="graphiteFilter.hasLoadCalcServerSchedTaskData"  data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasConcurrentUsersData">Concurrent users data</label>
                    <input type="checkbox" name="hasConcurrentUsersData" id="hasConcurrentUsersData" [(ngModel)]="graphiteFilter.hasConcurrentUsersData"  data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasTrioptimaRun">Trioptima run</label>
                    <input type="checkbox" name="hasTrioptimaRun" id="hasTrioptimaRun" [(ngModel)]="graphiteFilter.hasTrioptimaRun"  data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasTradeReportMonitorData">Trade report monitor data</label>
                    <input type="checkbox" name="hasTradeReportMonitorData" id="hasTradeReportMonitorData" [(ngModel)]="graphiteFilter.hasTradeReportMonitorData"  data-md-icheck (change)="filter()"/>
                </div>

                <div class="form-group">
                    <label for="hasTransferReportMonitorData">Transfer report monitor data</label>
                    <input type="checkbox" name="hasTransferReportMonitorData" id="hasTransferReportMonitorData" [(ngModel)]="graphiteFilter.hasTransferReportMonitorData"  data-md-icheck (change)="filter()"/>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <button class="btn btn-success" (click)="filter()">Filter</button>
        </form>-->
</div>

<div class="s-graphite-dash-pg">

    <div class="chart-box" *ngIf="graphiteFilter.hasAvailability">
        <h4> Availability Data </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="availabilityData"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasCalcServerTradeProcessingData">
        <h4> Calc Server Trade Processing Data </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="calcServerTradeProcessingData"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasCalcServerTradeProcessingData">
        <h4> Calc Server Trade Processing Data ( riskserver 2 )</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="calcServerTradeProcessingData2"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasCalcServerTradeProcessingData">
        <h4> Calc Server Trade Processing Data ( riskserver 3 )</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="calcServerTradeProcessingData3"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasCalcServerTradeProcessingData">
        <h4> Calc Server Trade Processing Data ( riskserver 4 )</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="calcServerTradeProcessingData4"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasCalcServerTradeProcessingData">
        <h4> Calc Server Trade Processing Data ( riskserver 5 )</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="calcServerTradeProcessingData5"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasLoadCalcServerSchedTaskData">
        <h4> Load Calc Server Sched Task Data - LOAD_CALCSERVER_BTLIQ_RISK1</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="loadCalcServerSchedTaskData1"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasLoadCalcServerSchedTaskData">
        <h4> Load Calc Server Sched Task Data - LOAD_CALCSERVER_BTLIQ_RISK2</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="loadCalcServerSchedTaskData2"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasLoadCalcServerSchedTaskData">
        <h4> Load Calc Server Sched Task Data - LOAD_CALCSERVER_BTLIQ_RISK3</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="loadCalcServerSchedTaskData3"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasLoadCalcServerSchedTaskData">
        <h4> Load Calc Server Sched Task Data - LOAD_CALCSERVER_BTLIQ_RISK4</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="loadCalcServerSchedTaskData4"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasLoadCalcServerSchedTaskData">
        <h4> Load Calc Server Sched Task Data - LOAD_CALCSERVER_BTLIQ_RISK5</h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="loadCalcServerSchedTaskData5"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasConcurrentUsersData">
        <h4> Concurrent Users Data </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="concurrentUsersData"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasTrioptimaRun">
        <h4> Trioptima run metrics </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="trioptimaRun"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasTradeReportMonitorData">
        <h4> Trade report monitor data </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="tradeReportMonitorData"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

    <div class="chart-box" *ngIf="graphiteFilter.hasTransferReportMonitorData">
        <h4> Transfer report monitor data </h4>
        <ngx-charts-line-chart
                [view]="chartView"
                [scheme]="colorScheme"
                [results]="transferReportMonitorData"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            >
        </ngx-charts-line-chart>
    </div>

</div>
